html {width:100vw;height:100vh;padding:0;margin:0;font-size:16px}
body {width:100%;height:100%;padding:0;margin:0;background:#000;overflow:hidden}

div#splash {
    position:absolute;z-index:1;top:0;left:0;width:100vw;height:100vh;
    display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;
    background:#000;
}
div#splash > img {max-width:60vw;max-height:30vh}
div#splash.transition {
    transition:transform 0.4s 0s ease-in;
    transform:translateY(100%);
}